<div class="checkbox {{ inline ? 'checkbox-inline' : '' }}">
  <label>
      <input type="checkbox" name="optionsCheckboxes">
      <span class="checkbox-material">
      </span> {{ label || null }}
  </label> &nbsp;
</div>