<div class="col" style="border-bottom: 0.5px solid #cccccc;">
  <legend class="my-0 py-0" style="font-size: 1.2rem;">Tags</legend>
  <input type="text" value="" class="tagsinput borde" data-role="tagsinput" data-color="rose" />
</div>
<!-- You can change data-color="rose" with one of our colors primary | warning | info | danger | success -->